div(class="row")
  div(class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2")
    p To acces rewards, you need to
    h1 Log In
    hr
  div(class="well col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2")
    form(ng-submit="login.submit(login.inputs.email, login.inputs.password)")
      div(class="form-group")
        label(for="email") Email
        input(
          class="form-control"
          name="email"
          type="text"
          ng-model="login.inputs.email"
        )
      div(class="form-group")
        label(for="password") PIN
        div(class="input-group")
          input(
            class="form-control"
            name="password"
            type="{{ login.showPassword ? 'text' : 'password' }}"
            ng-model="login.inputs.password"
          )
          span(class="input-group-btn")
            toggle(value="login.showPassword" active="eye-open" inactive="eye-close")

      div(class="alert alert-danger" ng-show="login.errorMessage")
        p {{ login.errorMessage }}
      div.btn-spacer
        button(type="submit" ng-click="login.inputType = 'signin'" class="btn btn-primary col-xs-12") Login
      div.btn-spacer  
        button(type="submit" ng-click="login.inputType = 'signup'" class="btn btn-info col-xs-12") Signup
